//Profile config for RDCO DSL2 pipelines
profiles {
  ssds {
    includeConfig "${projectDir}/config/config_ssds.nf"
    includeConfig "${projectDir}/config/config_getfq.nf"
    includeConfig "${projectDir}/config/config_align.nf"
    includeConfig "${projectDir}/config/config_generalRDCO.nf"
  }

  align {
    includeConfig "${projectDir}/config/config_getfq.nf"
    includeConfig "${projectDir}/config/config_align.nf"
    includeConfig "${projectDir}/config/config_generalRDCO.nf"
  }

  rtseq {
    includeConfig "${projectDir}/config/config_getfq.nf"
    includeConfig "${projectDir}/config/config_align.nf"
    includeConfig "${projectDir}/config/config_rtseq.nf"
    includeConfig "${projectDir}/config/config_generalRDCO.nf"
  }

  hic4dn {
    includeConfig "${projectDir}/config/config_getfq.nf"
    includeConfig "${projectDir}/config/config_4dn.nf"
  }

  commitFQ {
    includeConfig "${projectDir}/config/config_getfq.nf"
  }
}

params.outdir = 'results'

report {
  enabled = true
  file = "${params.outdir}/nxfReports/${params.name}.report.html"
}

timeline {
  enabled = true
  file = "${params.outdir}/nxfReports/${params.name}.timeline.html"
}

trace {
  enabled = true
  file = "${params.outdir}/nxfReports/${params.name}.trace.txt"
}

manifest {
  description = '2021: Kevin Brick'
}
